*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/Thomas.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 44, 46, 0.6);
    border-radius: 15px;
    color: white;
    position: relative;
}

.container p{
    position: absolute;
    top: 5%;
    background-image:
    -webkit-linear-gradient(-45deg, 
                            transparent 33%, rgba(0, 0, 0, .1) 33%, 
                            rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top, 
                            rgba(255, 255, 255, .25), 
                            rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);

 border-radius: 2px; 
 background-size: 35px 20px, 100% 100%, 100% 100%;
 font-size: 2rem;

}
